
.hamburger{
    font-size:30px;
    position:fixed;
    top:10px;
    left:10px;
    z-index:9999;
    cursor:pointer;
    background:#fff;
    padding:5px 10px;
    border-radius:5px;
}

.side-menu{
    position:fixed;
    top:0;
    left:-300px;
    width:280px;
    height:100%;
    background:#111;
    color:#fff;
    padding:20px;
    transition:0.3s;
    z-index:9998;
}

.side-menu.active{
    left:0;
}

.side-menu li{
    padding:10px;
    cursor:pointer;
    border-bottom:1px solid #333;
}
